*{
	  cursor: url(https://cur.cursors-4u.net/food/foo-3/foo262.ani), url(https://cur.cursors-4u.net/food/foo-3/foo262.png), default;
  
}
html{
	overflow-y: hidden;
  position: absolute;
  margin: absolute;
	padding-top:0px;

}
}

.header {
	width: 550px;
	height: 500px;
	position: 0;
  

}

.title {
	font-family: 'Roboto', sans-serif;
  padding: absolute;
	font-size: 35px;
	font-weight: 100;
	color: #03a9f4;
  overflow:hidden

  
}

.mask {
	height: 100%;
	position: relative;
	overflow: hidden;
  overflow-y: hidden;
}

.canvas-container {
	overflow: hidden;
  overflow-y: hidden
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	left: 0;
	/*transition: all .5s ease-in-out;*/
}

.canvas {
	height: 100%;
	display: block;
	/*transition: linear 1s;*/
	min-width: calc(100%/4);
  overflow:hidden 
  
}

.card-container {
	transition: 1s ease-in;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	left: 0;
	transition: all .5s ease-in-out;
  overflow:hidden 
}

.card {
	display: block;
	transition: linear 1s;
	padding: 5px 5px 25px;
	width: 100%;
  height: 10%;

}

.card hours{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 45px;
  padding: 0px 25px 0px;
	color: #3e3e3e;
	padding-bottom: 0px;
	border-bottom: 1px solid #3e3e3e;
  
}
.card h1 {
  font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 35px;
  align:left;margin:10px 20px 10px ;
	line-height: 1.4em;
  border-bottom: 1px solid #3e3e3e;
  
}

.card p {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 25px;
  align:center;margin:0px 20px 10px ;
	line-height: 1.4em;
  
}

.message-box {
  align:middle;margin:45px 1200px 100px;
	position: absolute;
	z-index: 2;
	width: 400px;
	height: 650px;
	background: #fff;
	top:325px;
	left: 10%;
	transform: translateY(-50%);
	border-radius: 1000px;
  border: 2px solid #5d5d5d;
  padding: 0px 5px 10px 5px;

}

.container {
	max-width: 80px;
	margin: 0 auto;
  overflow: hidden;

}

.dot {
	width: 10px;
	height: 10px;
	margin-left: 10px;
	background-color: #5d5d5d;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
}

.selected {
	background-color: #f2bece;
}

.pagination-container {
	position: absolute;
	bottom: 55px;
	right: 80px;
	width: 100%;
}

.pagination-dot-container {
	display: inline-block;
	float: right;
	padding: 10px 15px 0 0;
}

.pagination-forward-container {
	display: inline-block;
	position: relative;
	width: 42px;
	height: 42px;
	background: #f2bece;
	cursor: pointer;
	float: right;
}

.forward-arrow {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	top: 10px;
	left: 7px;
}

h1 {
    font-family: 'Lucinda Handwriting', cursive;
    font-weight: lighter;
    text-align: center;
    margin: 75px 5px 3px;
    color: #30372d;
    font-size: 25px;

}
body, {
	overflow: hidden;
  position: absolute;
  margin: absolute;
	padding:0;
  
}

nav{
	box-sizing:border-box;
	border: 0px solid #ffffff;
	color:#ffffff;
	background-color:#d1dbcc;
	display: inline-block;
	width: 250px;
  height:1000px;
  margin: -10px;

}

nav a{
	display:block;
	line-height:10px;
	height:0px;
	color: #30372d;
 	background-color:#486B02;
	text-decoration: none;
	background-color:#486B02;
	background: url('../imgs/arrow.png') no-repeat;
	padding-left: 25px;
  padding-bottom: 0px;
  padding-top: 75px;
	margin: 10px 10px 0px 55px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
   

}

section{
	display: inline-block;
	width:70%;
	height:100vh;
	overflow: hidden;

}


