*{
	  cursor: url(https://cur.cursors-4u.net/food/foo-3/foo262.ani), url(https://cur.cursors-4u.net/food/foo-3/foo262.png), default;
  
}
body{
	overflow-y: hidden;
  position: absolute;
  margin: absolute;
	padding-top:0px;
  
}

nav{
	box-sizing:border-box;
	border: 0px solid #ffffff;
	color:#ffffff;
	background-color:#d1dbcc;
	display: inline-block;
	width: 250px;
  height:1000px;
  margin: -10px;

}

nav a{
	display:block;
	line-height:10px;
	height:0px;
	color: #30372d;
 	background-color:#486B02;
	text-decoration: none;
	background-color:#486B02;
	background: url('../imgs/arrow.png') no-repeat;
	padding-left: 25px;
  padding-bottom: 0px;
  padding-top: 75px;
	margin: 10px 10px 0px 55px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  
  
}
 
  
}

.header {
	width: 550px;
	height: 500px;
	position: 0;
  

}

.title {
	font-family: 'Roboto', sans-serif;
  padding: absolute;
	font-size: 35px;
	font-weight: 100;
	color: #03a9f4;
  overflow:hidden 
  
  
}

.mask {
	height: 100%;
	position: relative;
	overflow: hidden;
  overflow-y: hidden;
}

.canvas-container {
	overflow: hidden;
  overflow-y: hidden
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	left: 0;
	/*transition: all .5s ease-in-out;*/
}

.canvas {
	height: 100%;
	display: block;
	/*transition: linear 1s;*/
	min-width: calc(100%/4);
  overflow:hidden 
  
}

.card-container {
	transition: 1s ease-in;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	left: 0;
	transition: all .5s ease-in-out;
  overflow:hidden 
    
}

.card {
	display: block;
	transition: linear 1s;
	width: 250%;
  height: 10%;
  
}
.card h1 {
  font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 30px;
  align:left;margin:25px 20px 10px ;
	line-height: 1.4em;
  border-bottom: 1px solid #3e3e3e;
  
}

.card p {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 20px;
  align:center;margin:30px 20px 10px ;
	line-height: 1.4em;

}

.message-box {
  align:middle;margin:85px 500px 90px;
	position: absolute;
	z-index: 2;
	width: 350px;
	height: 520px;
	background: transparent;
	top:325px;
	left: 10%;
	transform: translateY(-50%);
	border-radius: none;
}

.pic1{
  margin: 25px 1100px;
  position: absolute;
      border: 3.5px solid;
}

.pic2{
  margin: 25px 1500px;
  position: absolute;
    border: 3.5px solid;
}

.pic3{
  margin: 425px 1100px;
  position: absolute;
    border: 3.5px solid;
}

.bubble{
   margin: -25px 120px;
  position: absolute;

}

.face {
    margin: 100px 4px;
}

.servicetext {
        margin: 15px 0px;
        position: absolute;
}

.servicetext2 {
        margin: -25px 0px;
        position: absolute;

}
.container {
	max-width: 80px;
	margin: 0 auto;
	overflow: hidden;

}

.dot {
	width: 10px;
	height: 10px;
	margin-left: 10px;
	background-color: #5d5d5d;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
 
}

.selected {
	background-color: #d4d8d9;
}

.pagination-container {
	position: absolute;
	bottom: 55px;
	right: 40px;
	width: 100%;
}

.pagination-dot-container {
	display: inline-block;
	float: right;
	padding: 10px 15px 0 0;
}

.pagination-forward-container {
	display: inline-block;
	position: relative;
	width: 42px;
	height: 42px;
	background: #d4d8d9;
	cursor: pointer;
	float: right;
}

.forward-arrow {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	top: 10px;
	left: 7px;
}
h1 {
    font-family: 'Lucinda Handwriting', cursive;
    font-weight: lighter;
    text-align: center;
    margin: 5px 5px 3px;
    color: #30372d;
    font-size: 25px;
 
}



}