*{
	  cursor: url(https://cur.cursors-4u.net/food/foo-3/foo262.ani), url(https://cur.cursors-4u.net/food/foo-3/foo262.png), default;
  
}
body{
	overflow-y: hidden;
  position: absolute;
  margin: absolute;
	padding-top:0px;

}

nav{
	box-sizing:border-box;
	border: 0px solid #ffffff;
	color:#ffffff;
  
	background-color:#d1dbcc;
	display: inline-block;
	width: 250px;
  height:1000px;
  margin: -10px;

}

nav a{
	display:block;
	line-height:10px;
	height:0px;
	color: #30372d;
 	background-color:#486B02;
	text-decoration: none;
	background-color:#486B02;
	background: url('../imgs/arrow.png') no-repeat;
	padding-left: 25px;
  padding-bottom: 0px;
  padding-top: 75px;
	margin: 10px 10px 0px 55px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  
  
}
 

section {
  font-family: 'Lucinda Handwriting', cursive;
  font-size: 20px;
  color: black;
 
  
}
.drink {
  
  position: absolute;
  left: 190%;
  top: 55px;
  padding-left:80px;
  padding-right:80px;
}
.drink::-webkit-scrollbar-thumb {
   background-color: black;
  
 
}
.drink::-webkit-scrollbar {
    background: white;
    width: 3px;
  
}
.bakery {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 55px;
  
}
dd, dt,ul {
  line-height: 2;
  letter-spacing: normal;
  text-align: justify;
  padding-left:30px;
}
h1{
  font-size: 25px;

}

dt {
  font-weight: bold;
  padding-left:100px;
  background-color: #fdebed;
  width: 250px;
  text-align: left;
  
 
}

FIGCAPTION {
  line-height:normal;
  font-size: 15px;
  positon: center;
  padding-left:100px;
  
  }

.vl {
  border-left: 2px dotted black;
  height: 1500px;
  position: absolute;
  left: 50%;
  margin-left: 25px;
  margin-top: 135px;
  top: 0;
  
}

.latte {
 line-height:0.5;
 float: right;
 margin:-1850px 125px 10px 10px;
 position: center;
  
}

.washi {
 line-height: normal;
 float: right;
 margin:-1470px 250px 10px 10px;
 padding-bottom: 50px;
 img-radius: 25px;
  

}

.Catppuccino {
 line-height: 0.5;
 float: right;
 margin:-1450px 75px 10px 10px;
 padding-bottom: 50px;

}  

.rainbow {
 line-height: 0.5;
 float: right;
 margin:-1050px 185px 10px 10px;
 padding-bottom: 50px;
}

.yum {
 line-height: 0.5;
 float: right;
 margin:-1175px 23px 10px 10px;
 padding-bottom: 50px;
 position: relative;
}
.melon {
 line-height: 0.5;
 float: right;
 margin:-725px 23px 10px 10px;
 padding-bottom: 50px;

 }

.sando {
 line-height: 0.5;
 float: right;
 margin:-400px 23px 10px 10px;
 padding-bottom: 50px;